<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>WebMarket</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  

<!-- FORM 기반 인증 방식으로 시큐리티 설정 -->
<security-role>
	<role-name>admin</role-name>
</security-role>

<security-constraint>
	<web-resource-collection>
		<web-resource-name>WebMarket</web-resource-name>
		<url-pattern>/addProduct.jsp</url-pattern>
		<http-method>GET</http-method>
	</web-resource-collection>
	
	<auth-constraint>
		<description>권한 관리자명</description>	
		<role-name>admin</role-name>
	</auth-constraint>	
</security-constraint>

<login-config>
	<auth-method>FORM</auth-method>
	<form-login-config>
		<form-login-page>/login.jsp</form-login-page>
		<form-error-page>/login_failed.jsp</form-error-page>
	</form-login-config>
</login-config>
<!-- FORM 기반 인증 방식으로 시큐리티 설정 end -->




<error-page>
	<error-code>404</error-code>
	<location>/exceptionNoPage.jsp</location>
</error-page>







<!-- ch12 필터 / LogFilter 작성 -->
<!-- 콘솔창에 로그를 남길 수 있는 필터 -->
<filter>
	<filter-name>LogFilter</filter-name>
	<filter-class>filter.LogFilter</filter-class>
</filter>
	
<filter-mapping>
	<filter-name>LogFilter</filter-name>
	<url-pattern>/*</url-pattern>
</filter-mapping>
<!-- ch12 필터 / LogFilter 작성 end -->

<!-- ch12 필터 / LogFileFilter 작성 -->
<!-- logs 폴더에 로그를 파일로 남길 수 있는 필터 -->
<filter>
	<filter-name>LogFileFilter</filter-name>
	<filter-class>filter.LogFileFilter</filter-class>
	
	<init-param>
		<param-name>filename</param-name>
		<param-value>c:\\logs\\webmarket.log</param-value>
	</init-param>
</filter>
	
<filter-mapping>
	<filter-name>LogFileFilter</filter-name>
	<url-pattern>/*</url-pattern>
</filter-mapping>
<!-- ch12 필터 / LogFileFilter 작성 end -->



</web-app>

